.fullPainel{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    background-color: #fff;
    /* background-color: rgba(11, 11, 243, 0.167); */
}
.leftHeader{
    flex: 2.5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #1C315E;
    border-top-right-radius: 30px;
    border: none;
    margin: 0px;
    padding: 0px;
}
.rightSidebar{
    flex: 9.5;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardLeftHeader{
    width: 100%;
    height: 300px;
    background-color: #1b3a7d;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgLeftCard{
    width: 100px;
    height: 100px;
    border-top: none;
    border-left: 3px solid #ffff;
    border-bottom: 3px solid #ffff;
    padding: 2px;
    border-radius: 50%;
}
.imgLeftH{
    margin-top: 15px;
    color: #fff;
}
.imgLefSpan{
    margin-top: 15px;
    color: #fff;
    font-family:'Courier New', Courier, monospace, sans-serif;
}
.banners{
    width: 90%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.usersBanner{
    width: 30%;
    height: 90px;
    border: none;
    background-color: rgb(245, 245, 73);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 10px;
    align-items: center;
}
.AdmBanner{
    width: 30%;
    height: 90px;
    border: none;
    background-color: #1b3a7d;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 10px;
    align-items: center;
}
.PerguntasBanner{
    width: 30%;
    height: 90px;
    border: none;
    background-color: #5ee4a1;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 10px;
    align-items: center;
}
.userBannerItem{
    font-size: 1.5rem;
}
.userBannerNumber{
    font-size: 1.2rem;
}
.imgemBannerItem{
    font-size: 3rem;
}
.menuLeft{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menuItenLeft{
    width: 90%;
    height: 50px;
    margin-top: 10px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #050625;
}
.menuItenLeft:hover{
    background-color: #fff;
    color: #000;
    transition: 0.3s;
    cursor: pointer;
}
.colorLeft{
    background-color: #fff;
    color: #000;
}
.marginIconManuLeft{
    margin: 10px;
}
.graficos{
    width: 90%;
    height: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.grafC{
    width: 40%;
    height: 250px;
    padding: 10px;
    border-radius: 20px;
}

.instrucoes{
    width: 80%;
    padding: 40px;
    border: 1.5px solid #ddd;
    box-shadow: 1px 1px 2px 1px #ddd;
    border-radius: 20px;
    margin-top: 30px;
}
.hinstrutions{
    text-align: center;
}
.pInstrutions{
    width: 100%;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 20px;
}
.sidebarAdmCad{
    width: 90%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.formAdm{
    width: 60%;
    padding: 25px 20px 30px 20px;
    border: 1px solid #ddd;
    box-shadow: 1px 2px 1px 1px #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.hformAdm{
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
}
.inputAdmName{
    width: 90%;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 25px;
    border: 1px solid #ddd;
}
.cadAdm{
    width: 95%;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: #1b3a7d;
    cursor: pointer;
    margin-bottom: 60px;
}

.fullAdmCadPergunta{
    width: 90%;
    margin-top: 20px;
}
.menuCadPergunta{
    width: 100%;
    height: 45px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ItemMenuPergunta{
    padding: 10px;
    font-weight: 600;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px 1px #ddd;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.ItemMenuPergunta:hover{
    cursor: pointer;
    background-color: #ddd;
    transition: 0.3s;
}
.seletBackgrond{
    background-color: #ddd;
}
.centerFormPR{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.formPerRes{
    width: 70%;
    padding: 30px 20px 40px 20px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.respost{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.wPer{
    width: 95%;
    height: 55px;
    border-radius: 20px;
    margin-top: 30px;
    padding: 10px;
}
.inpRes{
    width: 40%;
    height: 45px;
    border-radius: 20px;
    margin-top: 15px;
    border: none;
    border: 1px solid #ddd;
    box-shadow: 1px 2px 1px 1px #ddd;
    padding-left: 10px;
    padding-right: 10px;
}
.cadastrarButtonRes{
    width: 100%;
    height: 50px;
    background-color: #1b3a7d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 10px;
    margin-top: 15px;
    border: none;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 1px 1px #ddd;
}
.cRankingNEw{
    width: 100%;
    height: 570px;
    box-sizing: border-box;
    margin-top: 20px;
    position: relative;
}